<h2 class="page-header">Edit Story</h2>
<form action="/stories/<%= story.id %>?_method=PUT" method="POST">
  <%- include('story_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/stories">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>