<div class="form-row">
  <div class="form-item">
    <h4>User Information</h4>
    <br>
    <!-- Calling the userSchema for creating each information -->
    <label>Username </label><input type="String" name="username" value="<%= user.username %>"><br>
    <label>Email </label><input type="String" name="email" value="<%= user.email %>"><br>
    <label>Password </label><input type="String" name="password" value="<%= user.password %>"><br>
  </div>
</div>