<header>
  <nav class="header-nav">
    <a class="header-title" href="/">My PWA</a>
    <ul>
      <li><a href="/stories">Stories</a></li>
      <li><a href="/stories/new">Add Story</a></li>
      <li><a href="/users">Users</a></li>
<!--      <li><a href="/users/new">Add User</a></li>-->
      <li><a href="/recommendation">Recommendation</a></li>
      <li><a href="/profile">My Profile</a></li>
    </ul>
  </nav>
</header>